.payment_delivery {
  width: 100%;
  height: 100%;
  padding-top: 150px;
  display: flex;
  align-items: center;

  flex-direction: column;
}
.payment_delivery_wrapper {
  width: 1081px;
  margin: 0 auto;
}

.payment_delivery_title h1 {
  text-align: center;
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 58px;
  line-height: 69px;
  text-transform: uppercase;
  color: #000000;
}

.payment_section_title h2 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 100px;
}
.paymetn_descriptions h3 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 20px;
}
.paymetn_descriptions p {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  text-transform: uppercase;
  color: #000000c8;
}

.delivery_section_title h2 {
  margin-top: 90px;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}
.delivery_descriptions h3 {
  margin: 55px 0 45px 0;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  text-transform: uppercase;
  color: #000000;
}
.delivery_descriptions p {
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  text-transform: uppercase;
  color: #000000;
}
.delivery_descriptions p a {
  text-decoration: underline #0000003d;
  color: #000000;
  cursor: pointer;
  transition: all 0.5s ease;
}
.delivery_descriptions p a:hover {
  transition: all 0.5s ease;
  color: #00000071;
}
.company_information p {
  margin-top: 100px;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #000000;
}

@media only screen and (max-width: 1200px) {
  .payment_delivery_wrapper {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .payment_delivery {
    padding-top: 60px;
  }
  .payment_delivery_title h1 {
    margin-bottom: 40px;
    font-size: 38px;
    line-height: 69px;
  }

  .payment_section_title h2 {
    font-size: 28px;
    line-height: 27px;
    margin-bottom: 70px;
  }
  .paymetn_descriptions h3 {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 35px;
  }
  .paymetn_descriptions p {
    margin-bottom: 30px;
    font-size: 19px;
    line-height: 23px;
  }

  .delivery_section_title h2 {
    margin-top: 50px;
    font-size: 28px;
    line-height: 37px;
  }
  .delivery_descriptions h3 {
    margin: 35px 0 25px 0;
    font-size: 22px;
    line-height: 35px;
  }
  .delivery_descriptions p {
    font-size: 19px;
    line-height: 23px;
  }
  .company_information p {
    margin-top: 80px;
    font-size: 17px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 490px) {
  .payment_delivery_title h1,
  .delivery_section_title h2 {
    font-size: 23px;
    margin-bottom: 10px;
  }
  .payment_delivery_wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .payment_section_title h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .paymetn_descriptions h3,
  .delivery_descriptions h3 {
    font-size: 17px;
    margin-bottom: 10px;
  }
  .paymetn_descriptions p,
  .delivery_descriptions p {
    font-size: 13px;
    margin-bottom: 8px;
  }
  .company_information p {
    margin-bottom: 30px;
    font-size: 15px;
  }
}
