.home_product_cart {
  width: 380px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.4s ease;
  cursor: pointer;
}
.home_product_cart_img,
.home_product_cart_img img {
  width: 100%;
  transition: all 1s ease;
}
.home_product_cart:hover {
  box-shadow: 0px 2px 61px -13px #0000003a;
  transition: all 0.4s ease;
}
.home_product_cart_img img:hover {
  transform: scale(1.04);
  transition: all 1s ease;
}

.home_product_cart_title p {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 20px;
}

.home_product_cart_title a {
  font-size: 12px;
  text-transform: lowercase;
  text-transform: capitalize;
  transition: all 0.4s ease;
  color: #000000;
}
.home_product_cart_title span:hover {
  transition: all 0.4s ease;
  text-decoration: underline;
}