.slick-slide,
.slick-active,
.slick-current {
  width: 376px !important ;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

.slick-prev  svg,
.slick-next  svg {
  margin-left: 6.5px !important;
}
