.catalog_page {
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
}
.catalog_wrapper {
  width: 1547px;
  margin: 0 auto;
}

.catalog_title h1 {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  color: #000000;
}

.catalog_items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}
.catalog_application {
  margin-top: 200px;
}

@media only screen and (max-width: 1620px) {
  .catalog_wrapper {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .catalog_items {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 1220px) {
  .catalog_items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 840px) {
  .catalog_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .catalog_items .card_item {
    margin-bottom: 20px;
  }
  .catalog_page {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 500px) {
  .catalog_page {
    padding-top: 40px;
  }
  .catalog_title h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 15px;
  }
}
