footer {
  width: 100%;
  padding: 100px;
  padding-bottom: 80px;
}

.footer_wrapper {
  width: 1547px;
  margin: 0 auto;
}

.footer_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 50px;
}
.footer_logo {
  font-weight: 700;
  font-size: 25px;
  line-height: 49px;
  text-transform: uppercase;
  color: #000000;
}

.footer_nav_list {
  display: flex;
  align-items: center;
}
.footer_nav_list .footer_nav_menu_item p {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  transition: all 0.5s ease;
}
.footer_nav_list .footer_nav_menu_item p:hover {
  transition: all 0.5s ease;
  opacity: 0.58;
}
.footer_nav_list .vertical_line {
  font-size: 25px;
}

.footer_links {
  display: flex;
  align-items: center;
}
.footer_links div {
  cursor: pointer;
}
.footer_links div:hover p {
  transition: all 0.5s ease;
  opacity: 1;
}
.footer_links div p {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.42;
  transition: all 0.5s ease;
}
.footer_links .vertical_line {
  opacity: 0.42;
  margin: 0 14px;
}
.footer_instagram {
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}
.footer_instagram:hover svg * {
  fill: #000;
  opacity: 1;
  transition: all 0.5s ease;
}
.footer_instagram p {
  margin-left: 12px;
}

@media only screen and (max-width: 1750px) {
  footer {
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer_wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 850px) {
  .footer_wrapper,
  .footer_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_logo {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 610px) {
  .footer_nav_list,
  .footer_links {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .footer_nav_list .vertical_line,
  .footer_links .vertical_line {
    display: none;
  }
  .footer_nav_list a,
  .footer_links a {
    margin: 10px;
  }
}
