.checkout_wrapper {
  width: 100%;
  padding: 60px 30px 40px;
}

.checkout_title h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 156.8%;
  color: #000000;
  margin-bottom: 30px;
}

.checkout_item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.checkout_item img {
  width: 200px;
  margin-right: 30px;
}

.checkout_item .checkout_item_descrip .ch_item_name,
.ch_count,
.ch_total_price {
  margin: 10px 0;
}
