.checkout_wrapper {
  max-width: 1547px;
  padding: 60px 30px 40px;
  padding-bottom: 0;
  margin: 0 auto;
}

.checkout_title h1 {
  font-weight: 600;
  font-size: 25px;
  line-height: 156.8%;
  color: #000000;
  margin-bottom: 30px;
}

.checkout_item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.checkout_item img {
  width: 200px;
  margin-right: 30px;
}

.checkout_item .checkout_item_descrip .ch_item_name,
.ch_count,
.ch_total_price {
  margin: 10px 0;
  font-family: serif;
}

.checkout_page {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.checkout_form form input,
textarea {
  color: #625f5f;
  font-family: serif;
}

.checkout_form form input {
  width: 300px;
  height: 60px;
  text-indent: 14px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  outline: none;

  font-weight: 500;
  font-size: 18px;
  margin-bottom: 18px;
}
.checkout_form form .product_name_input textarea,
.adress_input textarea,
.contacts_comment_input textarea {
  width: 300px;
  height: 150px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  outline: none;

  font-weight: 500;
  font-size: 18px;
  margin-bottom: 18px;
  padding: 10px;
}
.checkout_form form .submit_btn {
  text-indent: 0;
  background: #000000;
  cursor: pointer;
  font-family: "Libre Baskerville";
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  transition: all 0.4s ease;
}
.checkout_form form .submit_btn:hover {
  background: #000000c2;
  transition: all 0.4s ease;
}
.del_method_check {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.del_method_check p {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}
.del_method_check select {
  width: 300px;
  margin-bottom: 20px;
  height: 40px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  color: #625f5f;
  text-indent: 10px;
}
.checkout_form .product_name_input {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: 880px) {
  .checkout_page {
    flex-direction: column;
    align-items: center;
  }
  .chechout_items {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 540px) {
  .checkout_item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }
  .checkout_title h1 {
    text-align: center;
  }
}

.checkout_wrapper .polices_check {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 300px;
  margin-bottom: 15px;
}

.checkout_wrapper .polices_check p {
  font-size: 15px;
  line-height: 100%;
  text-align: center;
}
